chatgpt:
  token: your chatgpt apiKey
  wechat: "true"
  wechat_keyword: chatgpt
  #telegram: your telegram token
  #tgWhitelist: username1,username2
  #tgKeyword: chatgpt
  qq: "true"
  qq_uin: 12312412
  qq_password: "abcd111sda"
  qq_keyword: xiaobai
